@font-face {
  font-family: Helvetica;
  font-weight: 200;
  src: url('../../static/fonts/HelveticaLight.ttf');
}

@font-face {
  font-family: Helvetica;
  font-weight: 300;
  src: url('../../static/fonts/HelveticaRegular.ttf');
}

@font-face {
  font-family: Helvetica;
  font-weight: 400;
  src: url('../../static/fonts/HelveticaMedium.ttf');
}

@font-face {
  font-family: Helvetica;
  font-weight: 700;
  src: url('../../static/fonts/HelveticaBold.ttf');
}

@font-face {
  font-family: RobotoSlab;
  font-weight: 400;
  src: url('../../static/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: RobotoSlab;
  font-weight: 500;
  src: url('../../static/fonts/RobotoSlab-Medium.ttf');
}

html, body {
  box-sizing: border-box;
  width: 100%;
}

h3, h4, p {
	margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

@mixin wh-100-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.change-language {
	border: none;
	background: none;
	transform: scale(1.5);

	&:focus {
		outline: none;
	}
}

.header {
	position: absolute;
	top: 42px;
	left: 0;
	width: 100%;
	font-family: Helvetica;
	z-index: 10;

	&-logo {
		position: absolute;
		top: 0;
		left: 50px;
		transform-origin: top left;
		transform: scale(1.5);
	}

	&-nav {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 0 40px;
		position: relative;

		&-menu-button {
			display: none;
			background: none;
			border: none;
			width: 30px;
			height: 20px;
			padding: 0;

			&:focus {
				outline: none;
			}

			.line {
				content: '';
				width: 100%;
				height: 2px;
				background: white;
				margin-bottom: 7px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		&-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			&-item {
				margin: 0 50px;
				display: flex;
				align-items: flex-end;
				white-space: nowrap;

				&:first-of-type {
					margin-left: 0;
				}

				&:last-of-type {
					margin-right: 0;
				}

				a {
					text-decoration: none;
					color: white;
					font-size: 15px;
					font-weight: 200;

					&.nuxt-link-exact-active {
						color: red;
						font-size: 17px;
						font-weight: 700;
						letter-spacing: 0.12px;
					}
				}
			}
		}
	}
}

.footer {
	position: relative;

	&-logo {
		margin-right: 28px;

		&-wrapper {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 290px;
			height: 110px;
			background: #e4e4e4;
			@include flex-center;
		}

		&-text {
			&-wrapper {
				display: flex;
				flex-direction: column;
				font-family: Helvetica;
				font-size: 25px;
				font-weight: 500;
				line-height: 25px;
			}

			&-russia {
				letter-spacing: -0.23px;
				color: #e12c3d;
				margin-bottom: 3px;
			}

			&-in-touch {
				color: #435397;
			}
		}
	}

	&-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background: #e4e4e4;
		width: 100%;
		height: 80px;
		padding: 0 48px;

		&-logo {
			margin-right: 42px;
		}
	}
}

.main-page {
	width: 100%;
	overflow: hidden;

	&-welcome {
		width: 100%;
		height: 100vh;
		position: relative;

		&-bg {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(.6);
		}

		&-text {
			&-area {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				position: absolute;
				right: 0;
				top: 55%;
				z-index: 1;
				font-family: RobotoSlab;
			}

			&-bg {
				background: white;
				font-size: 46px;
				font-weight: 400;
				margin-bottom: 7px;
				padding-left: 30px;
				padding-right: 50px;
				text-align: right;
				width: fit-content;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			&-bottom {
				position: absolute;
				bottom: 30px;
				left: 50px;
				margin-right: 50px;
				font-size: 22px;
				font-weight: 300;
				color: white;
			}
		}
	}

	&-section-1 {
		position: relative;
		height: 320px;

		&-inner {
			position: relative;
			width: 100%;
			height: 100%;

			&-wrapper {
				position: absolute;
				right: 0;
				bottom: -50px;
				width: 75vw;
				height: 280px;
			}

			p {
				position: absolute;
				top: -10px;
				left: -100px;
				margin: 0;
				font-family: Helvetica;
				font-size: 18px;
				font-weight: 300;
				letter-spacing: -0.04px;
				width: 769px;
				padding-right: 20px;
				padding-bottom: 10px;
				background: white;
			}

			img {
				@include wh-100-cover;
			}
		}
	}

	&-section-2 {
		background: #e4e4e4;

		&-inner {
			position: relative;
			width: 100%;
			height: 100%;

			&-wrapper {
				position: relative;
				padding-top: 240px;
				height: 550px;
			}

			img {
				@include wh-100-cover;
			}
		}

		&-img {
			&-wrapper {
				&:nth-child(1), &:nth-child(2) {
					width: 30%;
					position: relative;
					
					&:after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 30px;
						height: 100%;
						background-image: linear-gradient(to right, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.9) 100%);
					}
				}

				&:nth-child(3) {
					width: 40%;
				}
			}
			
			&s {
				display: flex;
				width: 100%;
				height: 100%;
			}
		}

		&-text {
			&-area {
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateY(-40%);
				z-index: 1;
			}

			&-line {
				font-family: RobotoSlab;
				font-size: 22px;
				font-weight: 400;
				padding-left: 20px;
				padding-right: 10px;
				margin-bottom: -1px;
				background: white;
				display: block;
				width: fit-content;

				&:first-of-type {
					padding-top: 5px;
				}

				&:last-of-type {
					padding-bottom: 5px;
				}
			}
		}
	}

	&-section-3 {
		margin-bottom: 1px;
		background: white;

		&-text {
			&-top {
				padding: 0 100px;
				font-size: 16px;
				font-weight: 400;
				color: #151515;
				margin-top: 25px;
				margin-bottom: 120px;
				font-family: Helvetica;
			}

			&-right {
				width: 100%;
				max-width: 33%;

				p {
					font-family: Helvetica;
					padding-right: 10px;
					font-size: 14px;
					font-weight: 300;
				}
			}
		}

		&-inner {
			display: flex;
		}

		&-title {
			margin-top: 40px;
			transform: translateX(-60%);
			white-space: nowrap;
			padding: 5px 20px;
			background: white;
			font-size: 46px;
			font-weight: 400;
			letter-spacing: -0.88px;
			font-family: RobotoSlab;
		}

		&-img-wrapper {
			position: relative;
			max-width: 67%;
			width: 100%;
			min-height: 535px;
			padding-right: 10px;

			img {
				@include wh-100-cover;
			}
		}
	}

	&-section-4 {
		overflow: hidden;

		&-top {
			position: relative;
			width: 100%;
			height: 90px;

			&-white {
				position: absolute;
				top: 0;
				max-width: 67%;
				width: 100%;
				height: 75px;
				z-index: 1;
				background: white;
			}

			&-gray {
				width: 100%;
				height: 100%;
				margin-left: 70px;
				background: #e4e4e4;
			}
		}

		&-bottom {
			display: flex;
			margin-left: 70px;
			margin-bottom: 240px;
			position: relative;
			background: #e4e4e4;
		}

		&-crab {
			position: absolute;
			bottom: -200px;
			right: -160px;
			height: 360px;
			transform: scaleX(-1);
		}

		&-left {
			width: 50%;
			max-height: 810px;

			img {
				@include wh-100-cover;
			}
		}

		&-right {
			width: 50%;
			position: relative;
			display: flex;
			flex-direction: column;

			p {
				font-family: Helvetica;
				font-size: 13px;
				font-weight: 300;
				color: #151515;
				margin-bottom: 40px;
			}

			&-pic {
				width: 100%;
				height: 350px;
				object-fit: cover;
			}

			&-bottom {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
			}

			p, &-pic {
				padding: 0 30px;
			}

			&-white-blank {
				background: white;
				width: 100%;
				height: 70px;
			}
		}
	}

	&-section-5 {
		background: #e5e5e5;
		padding-top: 42px;
		padding-bottom: 56px;
		position: relative;

		&-title {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-60%, -50%);
			font-family: RobotoSlab;
			font-size: 46px;
			font-weight: 400;
			letter-spacing: -1.99px;
			max-width: 260px;
			background: white;
			padding: 10px 20px;
		}

		&-download-link {
			margin-bottom: auto;
			padding-bottom: 40px;
			margin-left: 28px;

			a {
				text-decoration: underline;
				color: black;
				font-family: Helvetica;
				font-size: 16px;
				font-weight: 400;
			}
		}

		&-top {
			display: flex;
			margin-right: 50px;

			&-text-wrapper {
				padding: 36px 28px;
				padding-bottom: 0;
				font-family: Helvetica;
				font-size: 16px;
				font-weight: 400;
				background: white;
			}

			&-left {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			&-right {
				width: 50%;
				min-height: 320px;
				max-height: 450px;
				background-position: center -90px;
				background-size: cover;

				img {
					@include wh-100-cover;
					object-position: center;
				}
			}
		}

		&-bottom-text-wrapper {
			background: white;
			font-family: RobotoSlab;
			font-size: 21px;
			font-weight: 500;
			max-width: 80%;
			width: 100%;
			padding-top: 35px;
			padding-left: 28px;
			padding-right: 18px;
			padding-bottom: 40px;
		}
	}

	&-section-6 {
		width: 100%;
		height: 100vh;
		background: url("../../static/pics/w02.jpg") no-repeat;
		background-size: cover;
		position: relative;

		&-inner {
			position: absolute;
			right: 22px;
			bottom: 25px;
		}

		p {
			margin-top: 15px;
			flex-wrap: Helvetica;
			font-size: 18px;
			font-weight: 400;
			color: #161616;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			&:first-of-type {
				margin-top: 0;
			}
		}

		span {
			display: block;
			width: fit-content;
			background: white;
			padding-right: 5px;
			padding-left: 15px;
			margin-bottom: -1px;
		}

		&-bold {
			font-weight: 700 !important;
		}
	}

	&-section-7 {
		width: 100%;
		height: 100vh;
		padding: 120px 42px;

		&-inner {
			position: relative;
			display: flex;
			width: 100%;
			height: 100%;
		}

		&-title {
			position: absolute;
			top: -15px;
			right: 0;
			transform: translateX(80%);
			font-family: RobotoSlab;
			font-size: 53px;
			font-weight: 400;
			letter-spacing: -2.06px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			span {
				width: fit-content;
				margin-bottom: 10px;
				background: white;
				padding: 3px 25px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		&-left {
			width: 55%;
			position: relative;
		}

		&-right {
			width: 45%;
			padding-top: 20px;
			padding-left: 15px;
			padding-bottom: 50px;
		}

		&-left, &-right {
			height: 100%;

			img {
				@include wh-100-cover;
			}
		}
	}

	&-section-8 {
		margin-bottom: 190px;

		&-title {
			width: 100%;
			text-align: center;
			margin-bottom: 15px;
			font-family: RobotoSlab;
			font-size: 33px;
			font-weight: 400;
			letter-spacing: -1px;
		}
	}

	&-section-9 {
		margin-bottom: 90px;

		&-top {
			width: 65%;
			height: 765px;
			position: relative;
			z-index: 2;
			float: right;
			background: url("../../static/pics/01.jpg") no-repeat center;
			background-size: cover;

			&-gray-area {
				width: 100%;
				height: 90px;
				background: white;
				opacity: .6;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}

		&-left {
			transform: translateY(-90px);
		}

		&-address-area {
			padding: 24px 42px;
			width: 50%;
			background: #e4e4e4;
			font-family: Helvetica;
			font-size: 20px;
			font-weight: 300;
			color: #161616;
		}

		&-title {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateX(-50%);
			background: white;
			padding: 5px 30px;
			font-family: RobotoSlab;
			font-size: 53px;
			font-weight: 400;
			letter-spacing: -2.53px;
		}

		&-bottom {
			display: flex;
			width: 100%;
		}
	}

	&-slider {
		height: 250px;

		img {
			@include wh-100-cover;
		}

		.swiper-slide {
			height: 250px;
		}

		&-arrow {
			&-left {
				left: 20px;
			}

			&-right {
				right: 20px;
			}

			&-left, &-right {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background: none;
				border: none;
				z-index: 10;

				&:focus {
					outline: none;
				}
			}
		}
	}
}

.text {
	&-purple {
		color: #5b1a36;
	}
}

.cn {
	&-bold {
		font-weight: 900;
	}
}

// fixing:
// section-4 (main-page)
@media (max-width: 1200px) {
	.main-page {
		&-section-4 {
			&-top {
				&-gray {
					margin-left: 0;
				}
			}

			&-right {
				&-pic {
					height: 250px;
					margin-bottom: 20px;
				}
			}

			&-bottom {
				margin-left: 0;
			}

			&-crab {
				height: 250px;
				bottom: -175px;
				right: -100px;
			}
		}
	}
}

// fixing:
// section-2 (main-page)
// section-3 (main-page)
// section-4 (main-page)
@media (max-width: 1150px) {
	.main-page {
		&-section-2 {
			&-text {
				&-area {
					transform: translateX(-50%) translateY(-40%);
				}
			}
		}

		&-section-3 {
			&-img {
				&-wrapper {
					width: 50%;
					min-height: unset;
				}
			}

			&-text {
				&-right {
					max-width: 50%;
				}
			}
		}

		&-section-4 {
			&-top {
				&-white {
					max-width: 50vw;
				}
			}
		}
	}
}

// fixing header
@media (max-width: 1000px) {
	.header {
		&-logo {
			left: 25px;
			transform: scale(1);
		}
	}
}

// fixing:
// header
// section-1 (main-page)
// section-2 (main-page)
// section-3 (main-page)
// section-4 (main-page)
// section-5 (main-page)
@media (max-width: 900px) {
	.header {
		&-logo {
			position: unset;
			height: 150px;
		}

		&-nav {
			justify-content: space-between;
			align-items: center;

			&-list {
				top: 116px;
				left: 40px;
				transform: none;
				flex-direction: column;
				background: rgba(0,0,0,0.5);
				overflow: hidden;
				height: 0;
				width: 220px;
				transition: height .3s ease;

				&.open {
					height: 224px;
				}

				&-item {
					margin-left: 20px;
					margin-right: 0;
					margin-bottom: 10px;

					&:first-of-type {
						margin-top: 20px;
						margin-left: 20px;
					}

					a {
						font-size: 24px;

						&.nuxt-link-exact-active {
							font-size: 30px;
						}
					}
				}
			}

			&-menu-button {
				display: block;
			}
		}

		.change-language {
			transform: scale(2);
		}
	}

	.main-page {
		&-section-1 {
			height: auto;

			&-inner {
				&-wrapper {
					width: 100%;
					height: auto;
					position: unset;
				}

				img {
					min-height: 400px;
				}

				p {
					padding-top: 30px;
					padding-bottom: 30px;
					padding-left: 20px;
					width: 75vw;
					top: 0;
					left: 0;
				}
			}
		}

		&-section-2 {
			&-inner {
				&-wrapper {
					height: 320px;
					padding-top: 100px;
				}
			}

			&-text {
				&-area {
					transform: translateY(-87%);
					left: auto;
					right: 0;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
				}
			}
		}

		&-section-3 {
			&-text {
				&-top {
					font-size: 20px;
					padding: 0 60px;
					margin: 60px 0;
				}
			}

			&-inner {
				flex-direction: column;
			}

			&-img-wrapper {
				width: 100%;
				max-width: unset;
				height: 400px;
				padding-right: 0;
			}

			&-text {
				&-right {
					max-width: unset;
					position: relative;
					padding-top: 50px;
					padding-left: 10px;
				}
			}

			&-title {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-top: 0;
				width: fit-content;
			}
		}

		&-section-4 {
			&-top {
				height: 40px;

				&-white {
					display: none;
				}

				&-gray {
					margin-top: 30px;
				}
			}

			&-left {
				width: 35%;
			}

			&-right {
				width: 65%;
			}
		}

		&-section-5 {
			&-top {
				margin-right: 0;
			}

			&-bottom-text-wrapper {
				max-width: 90%;
			}
		}
	}
}

// fixing:
// section-5 (main-page)
@media (max-width: 800px) {
	.main-page {
		&-section-5 {
			&-top {
				&-right {
					width: 70%;
				}

				&-left {
					// wi
				}
			}
		}
	}
}

// fixing
// header
// section-4 (main-page)
@media (max-width: 700px) {
	.header {
		&-nav {
			&-list {
				top: 165px;
				left: 50%;
				transform: translateX(-50%);
				align-items: center;

				&-item {
					margin: 0;
					margin-bottom: 10px;

					&:first-of-type {
						margin-left: 0;
					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.main-page {
		&-section-4 {
			&-top {
				display: none;
			}

			&-bottom {
				margin-top: 20px;
				flex-direction: column;
				position: relative;
				margin-bottom: 100px;
				padding-bottom: 0;
			}

			&-left {
				width: 100%;
				max-height: 700px;
				overflow: hidden;
			}

			&-crab {
				height: 200px;
				bottom: -65px;
			}

			&-right {
				width: 100%;
				padding-top: 30px;
				margin: 0;
				background: white;

				p {
					padding: 0 15px;
					margin-bottom: 30px;
				}

				&-white-blank {
					display: none;
				}

				&-pic {
					padding: 0;
					margin: 0;
					height: 400px;
				}
			}
		}
	}
}

// fixing header
@media (min-width: 501px) and (max-width: 700px) and (max-height: 800px) {
	.header {
		&-nav {
			&-list {
				flex-direction: row;
				left: 0;
				transform: translateX(0);
				height: 45px;
				width: 100%;
				justify-content: space-around;
				transform: translateX(-100%);
				transition: transform .3s ease;

				&.open {
					height: 45px;
					transform: translateX(0);
				}

				&-item {
					margin: 0;

					&:first-of-type, &:last-of-type {
						margin: 0;
					}
				}
			}
		}
	}
}

// fixing:
// section-3 (main-page)
@media (max-width: 600px) {
	.main-page {
		&-section-3 {
			&-text {
				&-top {
					margin: 0;
					padding: 30px 20px;
					font-size: 18px;
					font-weight: 300;
				}
			}

			&-title {
				font-size: 35px;
			}
		}
	}
}

// fixing:
// section-2 (main-page)
@media (max-width: 560px) {
	.main-page {
		&-section-2 {
			&-text {
				&-area {
					align-items: flex-start;
					right: auto;
					width: 100%;
				}

				&-line {
					width: 100%;
					font-size: 15px;

					&:first-of-type {
						padding-top: 20px;
					}

					&:last-of-type {
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}

// fixing:
// welcome area (main-page)
// section-1 (main-page) (end)
// section-2 (main-page)
// section-4 (main-page)
@media (max-width: 500px) {
	.main-page {
		&-welcome {
			&-text {
				&-area {
					width: 100%;
					top: 50%;
					transform: translateY(-50%);
					align-items: center;
				}

				&-bg {
					padding: 0 30px;
					font-size: 36px;
				}

				&-bottom {
					width: 100%;
					left: 0;
					padding: 0 30px;
					margin: 0;
					text-align: center;
				}
			}
		}

		&-section-1 {
			&-inner {
				p {
					width: 100%;
					position: unset;
				}

				img {
					min-height: 300px;
				}
			}
		}

		&-section-2 {
			&-inner {
				&-wrapper {
					height: auto;
					padding-top: 0;
				}
			}

			&-text {
				&-area {
					position: unset;
					transform: none;
				}
			}
		}

		&-section-4 {
			&-left {
				max-height: 600px;
			}

			&-crab {
				height: 150px;
				bottom: -35px;
				right: -75px;
			}

			&-right {
				&-pic {
					height: 300px;
				}
			}
		}
	}
}

// fixing header
@media (max-width: 500px) and (max-height: 1000px) {
	.header {
		&-nav {
			&-list {
				position: fixed;
				top: auto;
				bottom: 0;
				left: 0;
				width: 100%;
				height: auto;
				transform: translateY(100%);
				background: white;
				border-radius: 24px 24px 0 0;
				transition: transform .3s ease;

				&.open {
					height: auto;
					transform: translateY(0);
				}

				&-item {
					margin-bottom: 20px;

					&:first-of-type {
						margin-top: 40px;
					}

					&:last-of-type {
						margin-bottom: 40px;
					}

					a {
						color: black;
						font-weight: 500;
					}
				}
			}
		}
	}
}

// fixing:
// section-3 (main-page) (end)
@media (max-width: 450px) {
	.main-page {
		&-section-3 {
			&-img-wrapper {
				height: 300px;
			}

			&-text-right {
				padding-top: 30px;
			}

			&-title {
				font-size: 24px;
			}
		}
	}
}

// fixing:
// section-2 (main-page)
@media (max-width: 400px) {
	.main-page {
		&-section-2 {
			&-text {
				&-line {
					font-size: 14px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}

			&-img {
				&s {
					flex-direction: column;
				}

				&-wrapper {
					width: 100% !important;

					&:after {
						display: none !important;
					}
				}
			}
		}
	}
}

// fixing:
// header (end)
// welcome area (main-page) (end)
// section-2 (main-page) (end)
@media (max-width: 360px) {
	.header {
		top: 20px;

		&-logo {
			height: 120px;
		}

		&-nav {
			padding: 0 20px;
		}
	}

	.main-page {
		&-welcome {
			&-text {
				&-bg {
					font-size: 30px;
				}
			}
		}

		&-section-2 {
			&-text {
				&-line {
					font-size: 12px;
				}
			}
		}
	}
}
